.headerContainer {
    margin: 0 30px;

    div {
        font-size: 40px;
        margin: 10px 0;
    }
}

.editTitle{
    font-size: 20px;
}

.gridBoxContainero {
    width:100%;
}

.cardBox {
    // max-width: 1000px;
    // margin: 20px;
}


mat-card{
    margin: 30px;
}

mat-form-field {
    display: inline;
}

.editBtn {
    background: #00154F;
    color: #fff;
    width: 100px;
}

.cancelBtn {
    background: #F4AF1B;
    color: #fff;
    max-width: 100px;
    height: 36px;
    align-items: center;
}


// @media (min-width: 1200px) {

//     .gridBoxContainerox {
//         max-width: 1140px;
//     }
    
// }

// @media (min-width: 992px) {

//     .gridBoxContainerox {
//         max-width: 960px;
//     }
    
// }

// @media (min-width: 768px) {

//     .gridBoxContainerox {
//         max-width: 720px;
//     }

// }


@media screen and (max-width: 780px) { 

    .mainContentContainer {
        padding: 10px 10px;
    }

    .headerTitle {
        font-size: 30px !important;
    }

    .editTitle {
        font-size: 17px;
    }
}


::ng-deep .mat-focus-indicator{
    @media screen and (max-width: 780px) {
        margin: 0 !important;
    }
  }