header {
	background-color: skyblue;
}

.logoContainer {

	height: 64px;

	img{
		max-height: 100%;
		max-width: 100%;
	}
}

.mat-toolbar {
	background: skyblue;
}

.profileName {
	font-size: 18px;
	margin-right: 10px;
}