<div class="outerContainer">

	<!-- Toolbar -->
	<mat-toolbar class="colorTest">
		<span class="toolbarLeftTitle">Admin Manage Leave</span>
		<span class="example-spacer"></span>
		<button mat-button [matMenuTriggerFor]="menu" class="toolbarRight">
			<span class="profileName">{{userProfileData?.name}}</span>
			<mat-icon>person</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item [routerLink]="['/profile']">Profile Edit</button>
			<!-- <button mat-menu-item [routerLink]="['/collab']">COOP</button> -->
			<button mat-menu-item (click)="logOut();">Log Out</button>
		</mat-menu>
	</mat-toolbar>
	<!-- Toolbar -->


	<div>
		<div class="sideNavSection">
			<mat-sidenav #appDrawer mode="side" opened>
				<mat-nav-list>
					<app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
				</mat-nav-list>
			</mat-sidenav>
		</div>
	
		<div class="mainSection">
			<div>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
