<div class="mainContentContainer" >
    <div class="mainContent" fxLayout="row">
        <form [formGroup]="saveContractForm">
            <div>
                <div class="mainTitle">Save Contract</div>
            </div>
            <div class="leaveTableContainer">
                <div fxLayout="column" class="br_ltop">
                    <!-- title -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Title</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <!-- <mat-label>Company Name</mat-label> -->
                                <input matInput type="text" name="title" formControlName="title" required [ngModel]="contractData?.title"/>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- description -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Description</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <!-- <mat-label>My Name</mat-label> -->
                                <input matInput type="text" name="description" formControlName="description" required [ngModel]="contractData?.description"/>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- sender -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Sender</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <!-- <mat-label>My Name</mat-label> -->
                                <input matInput type="text" name="sender" formControlName="sender" required [ngModel]="contractData?.sender" readonly/>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- receiver -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Receiver</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <form [formGroup]="contractorForm" novalidate class="submit-form">
                                <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="40px">
                                    <!-- <label for="type" class="optionLabel">Email</label> -->
                                    <mat-form-field color="accent" appearance="outline" style="min-width:300px;" class="selectInput">
                                        <mat-label>E-MAIL</mat-label>
                                        <!-- https://stackoverflow.com/questions/5601647/html5-email-input-pattern-attribute -->
                                        <input type="email" formControlName="receiver" spellcheck="false" matInput name="id"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                        
                                        <!-- <mat-error *ngIf="f.submitted && id.hasError('required')">an e-mail is required</mat-error>
                                        <mat-error *ngIf="f.submitted && id.hasError('pattern')">Please input a correct e-mail!</mat-error> -->
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button class="submit-button clickBtn"  [disabled]="contractorForm.invalid" (click)="searchContractor()">Search</button>
                            </form>
                        </div>
                    </div>


                    <!-- date -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Date</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <!-- <mat-label>My Name</mat-label> -->
                                <input matInput type="text" name="date" formControlName="date" required [ngModel]="contractData?.date" readonly/>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="mt-30" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <button 
                        mat-raised-button 
                        class="saveBtn" 
                        [disabled]="saveContractForm.invalid || receiverSearchChecked == false"
                        (click)="saveContract()"
                    > 
                        save 
                    </button>
                    <button  mat-raised-button class="cancelBtn" mat-dialog-close> Cancel </button>
                </div>
            </div>
        </form>
    </div>